/* enleve tous les marges indesirables (par defaut) */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* enleve la decorations sur les a */
a {
    text-decoration: none;
    color: inherit; /* fait en sorte qu'il herite de la couleur du parent*/
}


header {
    height: 15vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid gray;
}

#primary-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    gap: 2em;
    height: 70%;
    padding: 0 1em;
}

#nav-logo {
    margin-right: 3em;
    width: 10%;
}

#nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    gap: 1em;
    width: 40%;
}

/* ----------- nouveau code 3 */
#nav-links > li > a {
    font-weight: bold;
    transition: 0.3s ease;
}

#nav-links > li:hover > a {
    color: #18c460;
}
/* fin nouveau code 3 */

/* --------------- nouveau code */
#tool-block {
    width: 20%;
    height: 50%;
    border: 1px solid rgba(44, 43, 43, 0.301);
    border-radius: 100px;
}

#tool-block > input {
    height: 100%;
    border-radius: 100px 0 0 100px;
    border: none;
    width: 83%;
    padding: 0 1.3em;
    outline: none;
}

#tool-block > #search-btn {
    width: 15%;
    height: 100%;
    /* background-color: transparent; */
    border-radius: 0 100px 100px 0;
    border: none;
}

/* -------- fin nouveau */


#account-block {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    width: 30%;
}

#secondary-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 1em;
    height: 30%;
    background-color: black;
    color: white;
    padding: 0 1em 0 0;
    font-size: 0.7em;
}
/* ---------------------------- nouveau 2 (regarder html) */
#secondary-nav > button {
    background-color: black;
    color: white;
    border: none;
    font-size: 1.5em;
    height: 100%;
    padding: 0 1em;
}

#secondary-nav > button:hover {
    background-color: #18c460;
}
/* fin nouveau code 2 */

#language-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    height: 100%;
}

#language-links > li {
    height: 100%;
    padding: 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    /* ------------ nouveau code */
    transition: 0.3s ease;
}

#language-links > li:hover {
    background-color: #18c460;
}


/* ------------------------------------ MAIN ------------------------------------ */
main {
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

/* par defaut le side bar n'est pas visible */
#sidebar {
    background-color: yellow;
    height: 100%;
    display: none;
}

/* il sera visible seulement si on ajout la class visible-side */
#sidebar.visible-side {
    width: 20%;
    min-width: 250px;
    display: flex;
}

/* ------------------ nouveau code ici ------------------- */
#dashboard {
    width: 80%;
    height: 100%;
    background-color: #f4f4f4;
    /* nouveau code */
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 1em;
}

#dashboard-header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}

#insights-board {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

#insights-board > .insight-card {
    height: 100%;
    width: 25%;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 1px #5959591f;
    background-color: white;
}

#stats-board {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
}

#stats-board > .stat-card {
    height: 100%;
    width: 50%;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 1px #5959591f;
    background-color: white;
    padding: 0.7em;
}
